@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ELEMENTS STYLE */

.between {
  font-size: 2rem;
  position: absolute;
  top: 65%;
  left: 50%;
  color: #fce00a;
  text-align: center;
  transform: translate(-50%, 50%);
  width: 100%;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.instructions {
  /* font-size: 2rem;
  position: absolute;
  left: 80%;
  transform: translate(-55%, 20%);
  width: 1000px; */
  color: #fce00a;
  line-height: 30px;
  margin-bottom: 30px;
  width: 850px;
}

.guess {
  background: none;
  border: 4px solid #fce00a;
  font-family: inherit;
  color: #fce00a;
  font-size: 3rem;
  padding: 2.5rem;
  width: 40rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.label-hint {
  margin-bottom: 4rem;
}

.label-score {
  margin-bottom: 2rem;
}

.left {
  width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-bottom: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.number {
  background: #fce00a;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.reset {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.right {
  width: 150rem;
  font-size: 2rem;
}
